*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

span {
  display: block;
}
